# Npm, Yarn related
node_modules
yarn-error.log
*.log

# Database, Mysql
db
links
events
diary.sql
diary*.sql
sql/redis-2017-10-02.rdb
backup

# Personal
public
schema-es5
graph
__generated__/
trash
lib
