@import "scss/spacing";
@import "scss/buttons";
@import "scss/colors";

.header {
  display: flex;
  font-size: 18px;
  height: 65px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 980px;
  align-items: center;
}
.header-heading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-family: 'NeueHaasGroteskDisp';
  font-weight: 700;
  font-size: 34px;
  margin: 0 auto;
  width: 110px;
}
.header-logo {
  position: relative;
  display: inline-block;
  padding-top: 12px;
}
.header-metabar {
  flex: 1 1 auto;
  z-index: 500;
  // height: 65px;
}
.header-actions {
  display: flex!important;
  align-items: center!important;
}
.header-actions .text {
  line-height: 1;
  display: block;
  margin-top: 25px;
}
.header-actions .dots {
  line-height: 1;
  display: block;
  margin-top: 22px;
  height: 22px;
}
.header-profile {
  cursor: pointer;
  font-size: 16px;
  height: 65px;
}
#header-portal {
  height: 65px;
}
.header-new-btn {
  display: inline-block;
  border: 0;
  padding: 0;
  font-weight: 700;
  font-size: 13px;
  font-family: sans-serif;
  margin: 5px 16px 5px 5px;
  color: black;
  cursor: pointer;
  background-color: transparent;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    color: $stripe-blue;
    text-decoration: none;
  }
  &:active {
    // background-color: #bbb;
  }
}
.header-edit-btn {
  @include button();
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  color: black;
  // background-color: #222;
  background-color: #fff;
  border: 1px solid #000;
  &:hover {
    background-color: #ececec;
    text-decoration: none;
  }
  &:active {
    background-color: #bbb;
  }
}
