@import "scss/spacing";
@import "scss/buttons";
@import "scss/colors";

.header {
}
.header-top {
  margin: 0 auto;
  text-align: center;
  width: 980px;
  margin-top: $small;
  margin-bottom: $small;
}
.header-heading {
  font-family: 'NeueHaasGroteskDisp';
  font-weight: 700;
  font-size: $large;
}
.header-profile {
  position: absolute;
  right: 16px;
  top: 16px;
}
.header-new-btn {
  display: inline-block;
  border: 0;
  padding: 0;
  font-weight: 700;
  font-size: 13px;
  font-family: sans-serif;
  margin: 5px 16px 5px 5px;
  color: black;
  cursor: pointer;
  background-color: transparent;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    color: $stripe-blue;
    text-decoration: none;
  }
  &:active {
    // background-color: #bbb;
  }
}
.header-edit-btn {
  @include button();
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  color: black;
  // background-color: #222;
  background-color: #fff;
  border: 1px solid #000;
  &:hover {
    background-color: #ececec;
    text-decoration: none;
  }
  &:active {
    background-color: #bbb;
  }
}
