@import "scss/spacing";

@font-face {
  font-family: 'NeueHaasGroteskDisp';
  src: url('/assets/fonts/NeueHaasGrotesk Display Medium.ttf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'NeueHaasGroteskDisp';
  src: url('/assets/fonts/NeueHaasGrotesk Display W02 Bold.ttf') format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: 'NeueHaasGroteskDisp';
  src: url('/assets/fonts/NeueHaasGrotesk Display W02 Blk.ttf') format("truetype");
  font-weight: 900;
}

* {
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.clearfix:before {
  display: block;
  content: "";
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.pre-wrap {
  white-space: pre-wrap;
}
.content {
  margin: 0 auto;
  width: 980px;
}
