@import "src/scss/spacing";
@import "src/scss/colors";

.faqpage {
  width: 700px;
  margin: 0 auto $small auto;
}
.faqpage h1 {
  font-size: 44px;
  display: block;
  text-align: center;
  margin-top: $large;
  font-family: "EB Garamond";
  font-weight: 700;
  margin-bottom: $small;
  color: black;
}
.faq-list {
  width: 500px;
  margin: 0 auto;
}
.faq-el {
  margin-bottom: 28px;
}
.faq-el h3 {
  // font-style: italic;
  font-size: 24px;
  font-family: "EB Garamond";
  font-weight: 700;
  margin-bottom: $tiny;
  color: $deep-grey;
}
