@import "scss/border-radius";
@import "scss/spacing";
@import "scss/buttons";

.memoryeditpage {
  margin: 0 auto;
  position: relative;
  width: 700px;
}
.memoryedit-title-label {
  font-family: "NeueHaasGroteskDisp";
  font-weight: 500;
  position: absolute;
  height: 0;
  left: -48px;
  top: 18px;
  font-size: 18px;
  color: #757575;
}
.memoryedit-title {
  // letter-spacing: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  outline: none;
  // padding: 5px;
  width: 100%;
  margin-bottom: $tiny;
  font-size: 42px;
  transition: all .2s cubic-bezier(.20, 1, .23, 1);
}
.memoryedit-editor {
  margin-bottom: 64px;
}
.memoryedit-date-ctrl {
  @include control;
  margin-top: $tiny;
  padding: 5px;
  border: 1px solid black;
  width: 165px;
}
.memoryedit-btn {
  @include button;
  padding: 5px 10px;
}
.memoryedit-btn.memory {
  margin-top: $tiny;
  margin-left: $tiny;
  background-color: $stripe-blue;
  border: 1px solid blue;
  &:hover {
    background-color: #5f89fc;
    text-decoration: none;
  }
  &:active {
    background-color: blue;
  }
}
.memoryedit-btn.draft {
  margin-top: $tiny;
  margin-left: $tiny;
  background-color: #222;
  border: 1px solid #000;
  &:hover {
    background-color: #555;
    text-decoration: none;
  }
  &:active {
    background-color: #000;
  }
}
.memoryedit-btn.cancel {
  margin-top: $tiny;
  margin-right: $tiny;
  color: black;
  background-color: white;
  border: 1px solid #000;
  &:hover {
    // border-color: red;
    border-color: $stripe-red;
    background-color: $stripe-red;
    color: white;
  }
  &:active {
    background-color: #981b1d;
  }
}
