@import "src/scss/colors";
@import "src/scss/spacing";

@media (max-width: 767px) {
  .memorypage {
    margin: 0 auto !important;
    width: 100% !important;
  }
}
.memorypage {
  margin: $large auto;
  width: 650px;
}
.memory-title {
  font-size: 42px;
  font-weight: 700;
  font-family: "Garamond";
  color: $deep-grey;
  // text-align: center;
}
.memory-timestamp {
  color: $lightgrey;
  font-size: 14px;
  // font-family: "Open Sans";
  font-family: monospace;
}
.memory-body {
  padding-top: $small;
  padding-bottom: $large;
  // font-size: px;
  line-height: 1.35;
}
.memory-count {
  // margin-top: 22px;
  // font-weight: 700;
}
.memory-edit-btn {
  font-size: 15px;
  font-weight: 700;
  margin-right: $small;
  margin-top: 21px;
  line-height: 24px;
  color: #888;
  transition: all .2s cubic-bezier(.20, 1, .23, 1);
  &:hover {
    color: black;
  }
}
.memorypage .empty-body {
  font-style: italic;
  color: #555;
}
