@import "src/scss/border-radius";
@import "src/scss/colors";
@import "src/scss/spacing";
@import "src/scss/markdown";
@import "src/scss/stripe";
@import "src/scss/stripe2";

@font-face {
  font-family: 'NeueHaasGroteskDisp';
  src: url('/assets/fonts/NeueHaasGrotesk Display Medium.ttf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'NeueHaasGroteskDisp';
  src: url('/assets/fonts/NeueHaasGrotesk Display W02 Bold.ttf') format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: 'NeueHaasGroteskDisp';
  src: url('/assets/fonts/NeueHaasGrotesk Display W02 Blk.ttf') format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: 'Garamond12';
  src: url('/assets/fonts/EBGaramond12-Regular.otf') format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Garamond';
  src: url('/assets/fonts/EBGaramond08-Regular.otf') format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Garamond';
  src: url('/assets/fonts/EBGaramond08-Italic.otf') format("opentype");
  font-style: italic;
}
@font-face {
  font-family: 'LabGrotesque';
  src: url('/assets/fonts/LabGrotesqueWeb-Regular.ttf') format("truetype");
  font-weight: 400;
}

html, body, #root, .app {
  height: 100%;
  font-family: Georgia, "Merriweather", "Times New Roman", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  // font-family: "Merriweather", Georgia, "Times New Roman", serif !important;
}

::selection {
  // background-color: #fae7dd; /* WebKit/Blink Browsers */
  background-color: #333; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  // background-color: #fae7dd; /* Gecko Browsers */
  background-color: #333; /* Gecko Browsers */
  color: white;
}
* {
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
b {
  font-weight: 700;
}
canvas {
  // height: 500px!important;
  // width: 500px!important;
}
.chart-container {
  height: 500px!important;
  width: 500px!important;
}
.clearfix:before {
  display: block;
  content: "";
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.pre-wrap {
  white-space: pre-wrap;
}
.content {
  margin: 0 auto;
  width: 980px;
}
@media (max-width: 1012px) and (min-width: 767px) {
  .content {
    width: 700px;
  }
  .header {
    width: 700px !important;
  }
}
@media (max-width: 767px) {
  .content {
    width: 100%;
    padding: 0 $small;
  }
  .header {
    width: 100% !important;
    padding: 0 $small;
    // overflow: hidden;
  }
}
@media (max-width: 481px) {
  .header {
    margin-top: 55px !important;
  }
}
.content a {
  // text-decoration: underline;
  // transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  // color: blue;
  // &:hover {
  //   color: blue;
  // }
}

.msg-200 {
  @include border-radius(4px);
  padding: 2px 6px;
  background-color: $sage;
  font-size: 13px;
}

.profile24 {
  @include border-radius(50%);
  // border: 2px solid $light-nude;
  border: 2px solid #999;
  height: 30px;
  width: 30px;
  vertical-align: top;
  padding: 1px;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transition: all 0.2s cubic-bezier(0.2, 1, 0.23, 1);
  &:hover {
    border-color: black;
  }
}

.tweet-url.hashtag {
  // color: #0366d6;
  color: blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.ddmenu {
  @include border-radius(4px);
  background-color: white;
  // border: 1px solid $deep-grey;
  border: 1px solid rgba(27,31,35,0.15);
  box-shadow: 0 3px 12px rgba(27,31,35,0.15);
  max-width: 280px;
}
.dd-btn {
  line-height: 1;
  display: block;
  // margin-top: 22px;
  // height: 19px;
}
.ddmenu.pull-left {
  left: auto;
  right: 0;
}
.ddrow {
  font-size: 16px;
  white-space: nowrap;
  &:first-child button {
    @include border-radius-top(3px);
    // padding-top: 9px!important;
  }
  &:last-child button {
    @include border-radius-bottom(3px);
    // padding-bottom: 9px!important;
  }
}
.ddrow-hint {
  // padding: 0px $small 4px $small;
  font-family: monospace;
  padding: 4px $small;
  display: block;
  font-size: 11px;
  color: #586069;
  text-align: left;
}
.ddrow-btn {
  border: 0;
  cursor: pointer;
  outline: 0;
  font-family: "Open Sans";
  font-size: 12px;
  // font-weight: 700;
  padding: $tiny $small;
  background-color: white;
  width: 100%;
  text-align: left;
  // transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    background-color: $deep-grey;
    color: white;
  }
  &:hover .ddrow-hint {
    color: white;
  }
}
.ddrow-btn.preview {
  color: $stripe-blue;
  &:hover {
    color: white;
  }
}
.dddivider {
  height: 1px;
  margin: 6px 1px;
  // background-color: #e1e4e8;
  background-color: #e1e4e8;
}
.ddrow-input {
  @include border-radius(3px);
  border: 1px solid $lightgrey;
  font-family: "Source Sans Pro";
  font-size: 15px;
  padding: 6px $tiny;
  outline: 0;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 200px;
  margin: 0 $small 4px $small;
  &:focus {
    box-shadow: 0 0 0 2px #333;
    border-color: #333;
  }
}
.ddcheckbox-container {
  align-items: center;
  display: flex;
  font-size: 13px;
  margin-top: 4px !important;
}
.ddcheckbox-container label {
  font-family: "Open Sans";
  float: left;
  margin-left: $small;
}
.ddcheckbox-container input {
  vertical-align: middle;
  margin-right: 4px;
}
.ddcontainer {
  margin: 4px $small $tiny $small;
}
.ddrow-save-btn {
  @include border-radius(3px);
  font-family: "Open Sans";
  font-size: 12px;
  border: 0;
  padding: 6px 12px;
  background-color: #efefef;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: 0;
  cursor: pointer;
  &:hover {
    background-color: #333;
    color: white;
  }
}
