@import "scss/spacing";

.memorypage {
  margin: 0 auto;
  width: 700px;
}
.memory-title {
  font-size: 42px;
  font-weight: 700;
  // text-align: center;
}
.memory-body {
  padding-top: $small;
  padding-bottom: $large;
  font-size: 21px;
  line-height: 1.35;
}
.memory-edit-btn {
  font-size: 16px;
  font-weight: 700;
  margin-right: $small;
}
