@import "src/scss/border-radius";
@import "src/scss/btn";
@import "src/scss/colors";
@import "src/scss/spacing";

.homememories {
  margin-bottom: $base;
}
.homememories .pagination {
  min-height: 34px;
  position: relative;
  margin: $tiny 0;
}
.homememories .pagenumber {
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: monospace;
  margin-top: 10px;
}
.homememories-load-btn {
  @include btn;
  @include border-radius(4px);
  width: 130px;
  background-color: $lightnude;
  border: 0;
  color: $deep-grey;
  padding: $tiny $small;
  font-family: "Open Sans";
  font-weight: 600;
  &:hover:enabled {
    color: $lightnude;
    background-color: $deep-grey;
  }
  &:disabled {
    color: #aaa;
    background-color: #f9f7f6;
  }
}
.homememories-empty-msg {
  font-family: "Open Sans";
  text-align: center;
  font-size: 18px;
  color: $lightgrey;
  font-weight: 700;
}
.homememories-page-btn-container {
  margin-top: $small;
}
