@import "scss/border-radius";
@import "scss/btn";
@import "scss/colors";
@import "scss/spacing";

.settingsaccountpage {
}
.settingspasswordpage {
  vertical-align: top;
}
.settingspasswordpage h1 {
  color: $deep-grey;
  font-family: "EB Garamond";
  font-size: 46px;
  font-weight: 700;
}
.settingspassword-ctrl {
  @include ctrl;
}
.settingspassword-btn {
  @include btn;
  @include border-radius(20px);
  background-color: $nude;
  border: 0;
  color: black;
  font-family: "Open Sans";
  font-weight: 700;
  padding: $tiny $small;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    background-color: $deep-grey;
    color: white;
  }
}
.settingspassword-success-msg {
  color: $stripegreen;
  background-color: rgba(34, 195, 91, 0.1);
  border: 1px solid $stripegreen;
  border-radius: 3px;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 13px;
  margin-bottom: 4px;
  padding: 8px;
}
.settingspassword-fail-msg {
  color: $stripe-red;
  background-color: rgba(251, 28, 28, 0.1);
  border: 1px solid $stripe-red;
  border-radius: 3px;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 13px;
  margin-bottom: 4px;
  padding: 8px;
}
.settingspassword-match-msg {
  color: $deep-grey;
  background-color: rgba(56, 52, 52, 0.1);
  border: 1px solid $deep-grey;
  border-radius: 3px;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 13px;
  margin-bottom: 4px;
  padding: 8px;
}
