$deep-grey: #383434;
$dark-grey: #484a51;
$lightgrey: #9d9595;
$stripe-blue: #1C56FB;
// $stripe-red: #dd3c3f;
$stripe-red: #fb1c1c;
$stripegreen: #22c35b;

$royalblue: #263bce;
$midnightblue: #1e237c;
$nude: #facac0;
$nude2: #f1c3b8;
$nude3: #f1d3d3;
$mediumnude: #fcd6cf;
$light-nude: #fae7dd;

$nudegrey: #e9e3e2;
$lightnude: #f7f4f2;

$lightbluewhite: #f7f9fa;
$mediumbluewhite: #e6e8eb;

$sage: #d2f1db;
