@import "src/scss/border-radius";
@import "src/scss/colors";
@import "src/scss/spacing";

.example.example1 {
  @include border-radius(3px);
  background-color: $lightnude;
  padding: $large $base;
}

.example.example1 * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.example.example1 fieldset {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #f7f7f7;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #dedede;
  border-radius: 4px;
}

.example.example1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.example.example1 .row + .row {
  border-top: 1px solid #dedede;
}

.example.example1 label {
  color: #000;
  font-family: "Open Sans";
  font-size: 12px;
  padding: 11px 0;
  min-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15%;
}

.example.example1 input, .example.example1 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.example.example1 input {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #000;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
  color: #999;
}

.example.example1 input::-moz-placeholder {
  color: #999;
}

.example.example1 input:-ms-input-placeholder {
  color: #999;
}

.example.example1 button {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #222;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #000;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.example.example1 button:active {
  background-color: #000;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #000;
}

.example.example1 .error svg .base {
  fill: #fff;
}

.example.example1 .error svg .glyph {
  fill: #6772e5;
}

.example.example1 .error .message {
  color: #fff;
}

.example.example1 .success .icon .border {
  stroke: #000;
}

.example.example1 .success .icon .checkmark {
  stroke: #000;
}

.example.example1 .success .icon .feather-x {
  stroke: #000;
}

.example.example1 .success .title {
  color: #000;
}

.example.example1 .success .message {
  color: #333;
}

.example.example1 .success .reset path {
  fill: #222;
}
.example.example1 .success .message .link {
  color: blue;
  text-decoration: underline;
}
.example.example1 .stripe-svg {
  margin-left: 15px;
  margin-top: 15px;
}
