@import "src/scss/spacing";

@media (max-width: 767px) {
  .editor-ctrl {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: inherit !important;
  }
}
.editor {
  font-size: 19px;
  &::before {
    border: 1px solid black;
  }
}
.editor-ctrl {
  border: 0;
  line-height: 1.5;
  font-size: 19px;
  resize: none;
  width: 700px;
  position: relative;
  left: -100px;
  // outline: 2px dotted #fff;
  padding-left: 100px;
  padding-right: 100px;
  // padding-bottom: 100px;
  outline: 0;
  transition: all .2s cubic-bezier(.20, 1, .23, 1);
  box-sizing: content-box;
  &::after {
    border: 1px solid black;
  }
  &:focus {
    // outline: 2px dashed #efefef;
    // outline: 2px dashed #ddd;
    // outline-color: #ddd;
  }
}
