@import "src/scss/colors";
@import "src/scss/spacing";

.insights-row {
  margin: $large 0;
}
.insights-panel {
  width: 50%;
  text-align: center;
}
.insights-panel h2 {
  // width: 300px;
  // margin: 0 auto;
  font-size: 21px;
}
.insights-number {
  font-size: 42px;
}
.insights-tag {
  font-size: 26px;
}
.insights-tag a {
  font-family: monospace;
}
.insights-tag-count {
  color: white;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
  // margin-left: $tiny;
  // background-color: $deep-grey;
  color: blue;
  background-color: white;
  transition: all .2s cubic-bezier(.20, 1, .23, 1);
}
